Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - modernize-*
    Remove:
      - modernize-use-trailing-return-type
  UnusedIncludes: Strict
Index:
  Background: Build
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: Yes
Hover:
  ShowAKA: Yes
