[Unit]
Description=Flashback Daemon
After=network.target postgresql.service
Requires=network.target postgresql.service

[Service]
Type=simple
Restart=on-failure
ExecStartPre=/usr/bin/bash -c 'until pg_isready; do sleep 1; done'
ExecStart=/usr/local/bin/flashbackd

[Install]
WantedBy=multi-user.target