name: develop
on:
  push:
    branches: develop
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: prepare
        run:  sudo apt install --yes --no-install-recommends cmake git readline make curl patch tar gzip bzip2 sed sort tr tail libboost-system-dev libboost-program-options-dev libgtest-dev libprotobuf-dev libgrpc++-dev protobuf-compiler-grpc libsodium-dev libgmock-dev
      - name: checkout
        uses: actions/checkout@v4
      - name: build database
        run:  git clone https://github.com/theory/pgenv.git && ./pgenv/bin/pgenv build 18.0 && ./pgenv/bin/pgenv use 18.0 && ./pgenv/bin/pgenv start
      - name: configure
        run:  cmake -G Ninja -S . -B flashback-release -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=flashback-install -D TEST_GRANULARITY=2
      - name: create database
        run:  ./database/create-test-database.sh
      - name: build
        run:  cmake --build flashback-release --parallel $(nproc) --target flashbackd common-tests database-tests flashbackd-internals-tests
      - name: test
        run:  ctest --test-dir flashback-release --verbose
      - name: install
        run:  cmake --install flashback-release --component flashbackd
      - name: pack
        run:  cpack -G ZIP -B flashback-release --config flashback-release/CPackConfig.cmake
