name: develop
on:
  push:
    branches: develop
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: prepare
        run:  sudo apt install --yes --no-install-recommends cmake postgresql libreadline-dev make curl patch tar gzip bzip2 sed libboost-system-dev libboost-program-options-dev libgtest-dev libprotobuf-dev libgrpc++-dev protobuf-compiler-grpc libsodium-dev libgmock-dev
      - name: checkout
        uses: actions/checkout@v4
      - name: install postgresql
        run:  |
          sudo systemctl start postgresql.service
          config_path="$(sudo find /var/lib/ -type f -name pg_hba.conf 2>/dev/null)"
          sudo -u postgres find /var/lib/postgresql -type f -name pg_hba.conf -print -quit 2>/dev/null
          sudo -u postgres sed -i '/^host\s*all\s*all\s*127.0.0.1/i host flashback_test flashback_client 127.0.0.1/32 trust' ${config_path}
          sudo -u postgres sed -i '/^host\s*all\s*all\s*::1/i host flashback_test flashback_client ::1/128 trust' ${config_path}
          sudo systemctl restart postgresql.service
      - name: configure postgresql
        run:  |
          sudo -u postgres psql -c 'drop database if exists flashback_test'
          sudo -u postgres psql -c 'create role flashback with nologin connection limit 3'
          sudo -u postgres psql -c 'create role flashback_client with login connection limit 3'
          sudo -u postgres psql -c 'create schema if not exists flashback authorization flashback'
          sudo -u postgres psql -c 'grant flashback to flashback_client'
      - name: create database
        run:  |
          sudo -u postgres psql -c 'create database flashback_test with owner flashback connection limit 3'
          sudo -u postgres psql -c 'create extension if not exists pg_trgm with schema flashback'
          sudo -u postgres psql -d flashback_test -f database/schema.sql -q
      - name: database post configurations
        run:  |
          sudo -u postgres psql -c 'revoke all on schema public from public'
          sudo -u postgres psql -c 'grant usage, create on schema public to flashback_client'
          sudo -u postgres psql -c 'alter role flashback_client in database flashback_test set search_path = flashback, public'
      - name: configure source
        run:  cmake -G Ninja -S . -B flashback-release -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=flashback-install -D TEST_GRANULARITY=2
      - name: build
        run:  cmake --build flashback-release --parallel $(nproc) --target flashbackd common-tests database-tests flashbackd-internals-tests
      - name: test
        run:  ctest --test-dir flashback-release --verbose
      - name: install
        run:  cmake --install flashback-release --component flashbackd
      - name: pack
        run:  cpack -G ZIP -B flashback-release --config flashback-release/CPackConfig.cmake
